html,
body {
    background: #01000F;
    padding: 0;
    border: 0;
}
.GG {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}
.ff {
    font-family: 'Press Start 2P', cursive;
    font-size: 24;
}
.ff-1 {font-family: 'Ubuntu Mono',Regular 400;
}
.ff-2 {font-family: 'Ubuntu Mono',Bold 700;

}
a {
    text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.p-color {
    text-decoration: none;
    color: white;
}
.p-color2 {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.direction {
    direction: none;
    pointer-events: none;
    
}
.-BOARD-END- {
    pointer-events: none;
}
.navbar-pos { 
    left: calc(50% - 1345px/2);
}
.header-aside-main-footer {
    padding-left: 300px;
    padding-right: 300px;
}
.header-aside-main-footer-img {
    position: absolute;
    width: 1320px;
    left: calc(50% - 1325px/2);
    opacity: 0.1;
    top: 0px;
    pointer-events: none;
    
}
.sliders-img {
    height: 30px;
    width: 30px;
    pointer-events: none;
    
}
.gg {
    position: absolute;
    left: calc(50% + 1270px/2);
}
.sliders-btn {
    position: absolute;
    left: auto;
    right: 0;
    background: none;
    border: none;
    direction: none;
    
}
.nav-2 {
    position: absolute;
    top: 14px;
    left: calc(50% - 20px/2);
}
.pos {
    left: calc(50% - 1325px/2);
}
.section-img-bg {
    position: absolute;
    width: 596px;
    height: 325px;
    left: calc(50% - 596px/2);
    top: 141px;
    pointer-events: none;
}
.btn:focus,
.btn:active {
    box-shadow: none !important;
}
.dropdown-toggle-fb {
    color: #01000F;
}
.section-skills {
    position: relative;
    top: 531px;
    left: calc(50% - 780px/2);
}
.img-ski {
    position: relative;
    left: 85px;
    margin-left: 20px;
    height: 130px;
    width: 130px;
    pointer-events: none;
}
.btn-ski {
    position: relative;
    top: 600px;
    left: calc(50% - 180px/2);
    height: 45px;
    width: 200px;
    font-size: 20px;
   
}
.sentence{
    position: absolute;
    top: 904px;
    left: calc(50% - 1325px/2);
}
.title-sentence {
    color: white;
}
.sentence-card {
    width: 400px;
   }
.sentence-2 {
    position: absolute;
    top: 950px;
    left: calc(50% - 400px/2);
}

.sentence-card-2 {
    width: 400px;
}
.sentence-3 {
    position: absolute;
    top: 950px;
    left: calc(50% + 520px/2);
}
.sentence-card-3 {
    width: 400px;
}
.sentence-button-group {
    position: absolute;
    top: 1425px;
    left: calc(50% - 150px/2);
}
.sentence-game {
    position: absolute;
    top: 1450px;
    left: calc(50% - 1325px/2);
}
.sentence-game-2 { 
    position: absolute;
    top: 1496px;
    left: calc(50% - 400px/2);
}
.sentence-game-3 {
    position: absolute;
    top: 1496px;
    left: calc(50% + 520px/2);
}
.sentence-game-card-1 {
    width: 400px;
}
.sentence-game-card-2 {
    width: 400px;
}
.sentence-game-card-3 {
    width: 400px;
}
.sentence-game-button-group {
    position: absolute;
    top: 2025px;
    left: calc(50% - 150px/2);
}
.sentence-soft {
    position: absolute;
    top: 2050px;
    left: calc(50% - 1325px/2);
}
.sentence-soft-2 { 
    position: absolute;
    top: 2096px;
    left: calc(50% - 400px/2);
}
.sentence-soft-3 {
    position: absolute;
    top: 2096px;
    left: calc(50% + 520px/2);
}
.sentence-soft-card-1 {
    width: 400px;
}
.sentence-soft-card-2 {
    width: 400px;
}
.sentence-soft-card-3 {
    width: 400px;
}
.sentence-soft-button-group {
    position: absolute;
    top: 2570px;
    left: calc(50% - 150px/2);
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #01000F;
    z-index: 1001;
}
.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
.loaded_hiding .preloader {
    transition: 1.5s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}

.fanart-shiro{
    position: absolute;
    top: 2750px;
    width: 362px;
    height: 328px;
    left: calc(50% - 1500px/2);
    pointer-events: none;
}
.footer-text-h2 { 
    position: absolute;
    top: 2690px;
    left: calc(50% - 1325px/2);
}

.footer-text { 
    position: relative;
    top: 2535px;
    width: 504px;
    height: 84px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    line-height: 31px;
    left: calc(50% - 680px/2);
}
.group-contacts {
    position: absolute;
    top: 3000px;
    
    left: calc(50% - 690px/2);
}
.footer-2 {
    position: absolute;
    top: 3080px;
    background: #01000F;
    width: 1500px;
    display: flex;
    align-items: center;
    left: calc(50% - 1320px/2);
    pointer-events: none;
    opacity: 0.3;
}
.donate {
    position: absolute;
    top: 2910px;
    left: calc(50% + 390px/2);
}
.footer-text-h2-2 {
    text-align: right;
}
.card-p {
    pointer-events: auto;
    color: #01000F;
}
.aside-menu {
    position: fixed;
    top: 14px;
    left: calc(50% + 1470px/2);
    width: 50px;
}
.aside-img-2 {
    margin-top: 20px;
}
.aside-img-3 {
    margin-top: 20px;
}
.aside-img-4 {
    margin-top: 18px;
}
@media screen and (max-width: 991px) {
    .header-aside-main-footer {
        padding-left: 300px;
        padding-right: 300px;
    }
    .navbar-pos { 
        left: calc(50% - 945px/2);
    }
    .navbar-toggler {
        position: relative;
        left: 150%;
    }
    .aside-menu {
        position: fixed;
        top: 14px;
        left: calc(50% + 1470px/2);
        width: 50px;
    }
    .section-img-bg {
        position: relative;
        width: 596px;
        height: 325px;
        left: calc(50% - 596px/2);
        top: -100px;
        pointer-events: none;
    }
    .section-skills {
        position: relative;
        top: 431px;
        width: 700px;
        left: calc(50% - 780px/2);
    }
    .btn-ski {
        position: relative;
        top: 500px;
        left: calc(50% - 180px/2);
        height: 45px;
        width: 200px;
        font-size: 20px;
   
    }
    .nav-2 {
        display: none;
    }
    .footer-2 {
        display: none;
    }
    .sentence-card {
        width: 290px;
    }
    .sentence-card-2 {
        width: 290px;
    }
    .sentence-card-3 {
        width: 290px;
    }
    .sentence-card {
        width: 290px;
   }
   .sentence{
    position: absolute;
    top: 904px;
    left: calc(50% - 925px/2);
    }
    .sentence-2{
        position: absolute;
        top: 950px;
        left: calc(50% - 270px/2);
    }
    .sentence-3{
        position: absolute;
        top: 950px;
        left: calc(50% + 365px/2);
    }

    

    .sentence-game {
        position: absolute;
        top: 1450px;
        left: calc(50% - 925px/2);
    }
    .sentence-game-2 { 
        position: absolute;
        top: 1496px;
        left: calc(50% - 270px/2);
    }
    .sentence-game-3 {
        position: absolute;
        top: 1496px;
        left: calc(50% + 365px/2);
    }
    .sentence-game-card-1 {
        width: 290px;
    }
    .sentence-game-card-2 {
        width: 290px;
    }
    .sentence-game-card-3 {
        width: 290px;
    }


    .sentence-soft {
        position: absolute;
        top: 2050px;
        left: calc(50% - 925px/2);
    }
    .sentence-soft-2 { 
        position: absolute;
        top: 2096px;
        left: calc(50% - 270px/2);
    }
    .sentence-soft-3 {
        position: absolute;
        top: 2096px;
        left: calc(50% + 365px/2);
    }
    .sentence-soft-card-1 {
        width: 290px;
    }
    .sentence-soft-card-2 {
        width: 290px;
    }
    .sentence-soft-card-3 {
        width: 290px;
    }
    .donate {
        position: absolute;
        top: 2910px;
        left: calc(50% + 100px/2);
    }
    .header-aside-main-footer-img {
        position: absolute;
        width: 1155px;
        height: 3100px;
        left: calc(50% - 1325px/2);
        opacity: 0.1;
        top: 0px;
        pointer-events: none;
        
    }
    .footer-text { 
        position: absolute;
        top: 2735px;
        width: 504px;
        height: 84px;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        font-size: 20px;
        line-height: 31px;
        left: calc(50% - 180px/2);
    }
    .footer-text-h2 { 
        position: absolute;
        top: 2690px;
        left: calc(50% - 925px/2);
    }
    .fanart-shiro{
        position: absolute;
        top: 2750px;
        width: 362px;
        height: 328px;
        left: calc(50% - 1000px/2);
        pointer-events: none;
    }
    .footer-text-h2-2 {
        display: none;
    }
    .djd {
        display: none;
    }
    /* стили для больших планшетов  */
    
}  
@media screen and (max-width: 767px) {
    /* стили для средних планшетов  */
    
}
    
@media screen and (max-width: 479px) {
    /* стили для телефонов  */
    
}